/*------------------------------------------------------BACKGROUND IMAGE*/
body {
    background-image: url('https://img.freepik.com/premium-vector/poker-table-background-green-color-background-with-card-suits-poker-table-premium-background_511290-24.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*------------------------------------------------------HEADER INFO*/
#headerContainer{
    background-color: darkgreen;
    border: solid 10px #CD7F32;
    margin-left: 350px;
    margin-right: 350px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    color: white;
}
h2{
    margin-left: 100px;
    margin-right: 100px;
    color: white;
}
/*------------------------------------------------------PRE-GAME SCREEN*/
#startGameContainer{
    text-align: center;
    
}
#startButton {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 3px black;
    margin-top: 100px;
    font-size: 200%;
    background-color: #CD853F;
    position: relative;
    font-size: 28px; 
    padding: 20px;
    width: 200px;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
#startButton:hover{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 00px;
    background-color: #006400;
    border: solid 3px #CD853F;
    color: #FFFFFF;
}
/*------------------------------------------------------DISPLAYED DECK*/
#deckPile1{
    position: absolute;
    top: 350px;
    left: 200px;
    width: 225px;
    height: 315px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
#deckPile2{
    position: absolute;
    top: 348px;
    left: 198px;
    width: 225px;
    height: 315px;
}
#deckPile3{
    position: absolute;
    top: 346px;
    left: 196px;
    width: 225px;
    height: 315px;
}
#deckPile4{
    position: absolute;
    top: 344px;
    left: 194px;
    width: 225px;
    height: 315px;
}
#deckPile5{
    position: absolute;
    top: 342px;
    left: 192px;
    width: 225px;
    height: 315px;
    /* transition-duration: 5s; */
}
/*------------------------------------------------------ANIMATION FOR DEALING CARDS*/
#deckPile5:hover{ /*Use this for user and computer hand*/
    top: 650px;
    left: 850px;
    transition-duration: 1s;
}
/*------------------------------------------------------DISPLAYED CARDS FOR INITIAL GAME SET UP*/ 
#displayPlayerCard1{
    position: absolute;
    top: 650px;
    left: 575px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
#displayComputerCard1{
    position: absolute;
    top: 100px;
    left: 575px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
#displayPlayerCard2{
    position: absolute;
    top: 650px;
    left: 850px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
#displayComputerCard2{
    position: absolute;
    top: 100px;
    left: 850px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
#computerHiddenCard{
    position: absolute;
    top: 100px;
    left: 850px;
    width: 225px;
    height: 315px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
/*------------------------------------------------------DISPLAYED CARDS AFTER GAME SET UP*/ 
#displayHitCard1{
    position: absolute;
    top: 650px;
    left: 1125px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
#displayHitCard2{
    position: absolute;
    top: 650px;
    left: 1375px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
/*------------------------------------------------------SCORE BOARD*/
#scoreBoard1{
    position: absolute;
    top: 690px;
    left: 200px;
    width: 220px;
    height: auto;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
#scoreBoard2{
    position: absolute;
    top: 150px;
    left: 200px;
    width: 220px;
    height: auto;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
#playerScore{
    font-size: 125px;
    position: absolute;
    top: 575px;
    left: 250px;
}
#computerScore{
    font-size: 125px;
    position: absolute;
    top: 35px;
    left: 250px;
}
/*------------------------------------------------------IN GAME BUTTONS*/
#hitButton{
    position: absolute;
    top: 500px;
    left: 575px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 3px black;
    font-size: 200%;
    background-color: #CD853F;
    position: relative;
    font-size: 28px; 
    padding: 20px;
    width: 200px;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
#hitButton:hover{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 00px;
    background-color: #006400;
    border: solid 3px #CD853F;
    color: #FFFFFF;
}
#stayButton{
    position: absolute;
    top: 500px;
    left: 650px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 3px black;
    font-size: 200%;
    background-color: #CD853F;
    position: relative;
    font-size: 28px; 
    padding: 20px;
    width: 200px;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
#stayButton:hover{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 00px;
    background-color: #006400;
    border: solid 3px #CD853F;
    color: #FFFFFF;
}
#bustHitButton{
    position: absolute;
    top: 500px;
    left: 575px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    opacity: 0;
    border: solid 3px black;
    font-size: 200%;
    background-color: #CD853F;
    position: relative;
    font-size: 28px; 
    padding: 20px;
    width: 200px;
    transition-duration: 3s;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
/*------------------------------------------------------HIT SCREEN*/
/*------------------------------------------------------STAY SCREEN*/
#displayStayCard1{
    position: absolute;
    top: 100px;
    left: 850px;
    width: 225px;
    height: 315px;
    opacity: 0;
}
#displayStayCard2{
    position: absolute;
    top: 100px;
    left: 1125px;
    width: 225px;
    height: 315px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
#displayStayCard3{
    position: absolute;
    top: 100px;
    left: 1400px;
    width: 225px;
    height: 315px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
#displayStayCard4{
    position: absolute;
    top: 100px;
    left: 1675px;
    width: 225px;
    height: 315px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,1);
}
/*------------------------------------------------------END GAME SCREEN*/
#endGameText{
    position: absolute;
    top: 365px;
    left: 577px;
    font-size: 270%;
    width: 490px;
    height: 215px;
    text-align: center;

    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #006400;
    border: solid 10px #CD853F;
    box-shadow: 100px 100px 100px 4000px rgba(0,0,0,.8);
}
#restartButton{
    position: absolute;
    top: 510px;
    left: 730px;
    font-size: 300%;
    padding: 20px;
    width: 200px;
    text-align: center;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 3px black;
    font-size: 200%;
    background-color: #CD853F;
    transition-duration: 0.5s;
    /* box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8); */
}
#restartButton:hover{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 00px;
    background-color: #006400;
    border: solid 3px #CD853F;
    color: #FFFFFF;
}