#headerContainer{
    background-color: darkgreen;
    border: solid 10px #CD7F32;
    margin-left: 350px;
    margin-right: 350px;
}

h4{
    margin-left: 100px;
    margin-right: 100px;
}


#startGameContainer{
    text-align: center;
}

#startButton{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 100px;
    font-size: 200%;
    background-color: #CD853F;
}