#headerContainer{
    background-color: darkgreen;
    border: solid 10px #CD7F32;
    margin-left: 350px;
    margin-right: 350px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
h4{
    margin-left: 100px;
    margin-right: 100px;
}
/*------------------------------------------------------*/
#startGameContainer{
    text-align: center;
    
}
#startButton {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 3px black;
    margin-top: 100px;
    font-size: 200%;
    background-color: #CD853F;
    position: relative;
    font-size: 28px; 
    padding: 20px;
    width: 200px;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
#startButton:hover{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 00px;
    background-color: #006400;
    border: solid 3px #CD853F;
    color: #FFFFFF;
}
/*------------------------------------------------------*/
#deckPile1{
    position: absolute;
    top: 350px;
    left: 200px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,.8);
}
#deckPile2{
    position: absolute;
    top: 348px;
    left: 198px;
}
#deckPile3{
    position: absolute;
    top: 346px;
    left: 196px;
}
#deckPile4{
    position: absolute;
    top: 344px;
    left: 194px;
}
#deckPile5{
    position: absolute;
    top: 342px;
    left: 192px;
}
/*------------------------------------------------------*/